streamlit==1.38.0
pandas==2.2.3
numpy==1.26.4
transformers==4.46.2
torch==2.5.1
huggingface-hub==0.26.2
textblob==0.17.1
langdetect==1.0.9
indic-transliteration==2.3.47
nltk==3.9.1
matplotlib==3.9.2
seaborn==0.13.2
wordcloud==1.9.3
langchain==0.3.9
google-api-python-client==2.149.0
python-dotenv==1.0.1
tqdm==4.66.5
regex==2024.9.11
google-generativeai==0.7.2




